.container-account {
  padding: 2em;
}
.account-informations ul {
  list-style: none;
  padding: 1em;
}
.account-informations ul li {
  margin: 1em;
}
.container-account button {
  border: 0;
  background-color: rgb(213, 121, 22);
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 3em;
  width: 150px;
}
.table-infos {
  border: 1px solid rgb(213, 121, 22);
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
}
.table-infos td {
  border: 1px solid rgb(213, 121, 22);
  padding: 0.5em 1em;
}
.table-infos td:nth-child(odd) {
  background-color: rgba(213, 121, 22, 0.3);
}
