/******************************************************************************
**************************** GENREAL *****************************************
****************************************************************************/

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: rgb(213, 121, 22);
}

main .container {
  background-color: #fff;
  width: 90%;
  margin: auto;
}
/******************************************************************************
**************************** HEADER *****************************************
****************************************************************************/

header {
  background: rgb(213, 121, 22);
  background: linear-gradient(
    0deg,
    rgba(213, 121, 22, 1) 47%,
    rgba(254, 206, 73, 0.9276960784313726) 97%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 100px;
  height: auto;
}
header .header-title {
  display: flex;
  padding: 1em;
  color: #fff;
}
header nav ul a {
  padding: 1em;
  text-decoration: none;
  color: #fff;
}
header nav ul a:hover {
  text-decoration: underline;
}
#cart-link {
  position: relative;
}
#cart-link span {
  position: absolute;
  top: -5px;
  right: 2px;
  background-color: red;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
}
/******************************************************************************
**************************** MAIN *****************************************
****************************************************************************/

.background-home {
  background-image: url("../../img/terrain_tennis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  margin-bottom: 2em;
}
.slogan-container {
  width: 90%;
  margin: auto;
  height: 400px;
  position: relative;
  z-index: 0;
}
.slogan-box {
  z-index: 10;
}
.slogan {
  border-bottom: 0;
  background: -webkit-linear-gradient(
    0deg,
    #fee900 0,
    #ffdb00 25%,
    #ffcb00 35%,
    #ffb900 40%,
    #ffa501 45%,
    #ff9115 50%,
    #f37b1f 55%,
    #e46625 65%,
    #d6542b 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4em;
  text-align: center;
  margin-top: 2em;
  margin-left: 2em;
}

.svg-image {
  z-index: -1;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.slogan-container a {
  color: #fff;
  text-decoration: none;
}
.slogan-container button {
  float: right;
  border: 0;
  padding: 0.5em 1em;
  background-color: rgb(213, 121, 22);
  cursor: pointer;
  border-radius: 3em;
  font-size: 1em;
  transition: transform 0.4s;
}
.slogan-container button:hover {
  transform: scale(1.1);
}
/******************************************************************************
**************************** ARTICLE MEILLEURES VENTES **************
****************************************************************************/

h3,
h2 {
  color: rgb(213, 121, 22);
  font-size: 2em;
  border-bottom: 1px dashed;
}
.best-sells {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  background-color: rgb(213, 121, 22);
  margin-bottom: 2em;
}
.card img {
  width: 100%;
  height: 75%;
}
.card .price {
  color: #fff;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
/******************************************************************************
**************************** FOOTER **************
****************************************************************************/
.footer {
  background: rgb(213, 121, 22);
  background: linear-gradient(
    180deg,
    rgba(213, 121, 22, 1) 50%,
    rgba(254, 206, 73, 0.9276960784313726) 99%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  border-top: 1px solid #fff;
}
.footer a {
  color: #fff;
  text-decoration: underline;
}
.footer ul {
  display: flex;
  margin: 0;
}
.footer ul li {
  list-style: none;
  padding: 0 1em;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.company-footer {
  text-align: center;
}

/******************************************************************************
**************************** NOTIFICATION *****************************************
****************************************************************************/

.notif .alert-success {
  text-align: center;
  background-color: green;
  color: #fff;
  padding: 1em;
}
.notif .alert-danger {
  text-align: center;
  background-color: red;
  color: #fff;
  padding: 1em;
}
